@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@200;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header {
  display: flex;
  background-color: #c8e0ec;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 230px; 
  }
  
.container {
  font-family: 'Atkinson Hyperlegible', sans-serif !important;
  display: flex;
  color: #343434;
  font-size: 90px;
  align-items: center;
}

.icon {
  margin-right: 20px;
}
