.booking-box {
    display: flex;
    align-items: center;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.booking-title {
    background-color: #004b71;
    color: white;
    font-weight: bold;
    padding: 10px;
    width: 200px;
    border-radius: 7px 0 0 7px;
    border: #004b71 solid 2px;
}

.travel-selector {
    margin-top: 5%;
}

.booking-input {
    border: none;
    flex: 1;
    outline: none;
    margin: 5px 0;
    border: #004b71 solid 2.5px;
    border-radius: 0 7px 7px 0;
}

.css-19bb58m {
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}

.css-13cymwt-control {
    border-radius: 0 4px 4px 0 !important; 
}

.date-picker-container {
    display: flex;
    border: none;
    flex: 1;
    margin: 5px 0;
    border: #004b71 solid 2.5px;
    border-radius: 0 7px 7px 0;
    padding-top: 7px;
    padding-bottom: 7px;
    align-items: center;
}

.date-input {
    margin: 0 40px;
    background-color: #93ccdc;
    border: none;
    border-radius: 50px;
    padding: 5px;
    text-align: center;
    font-style: italic;
}

.random-text {
    display: flex;
    justify-content: start;
    padding: 0 10px;
    border: none;
    flex: 1;
    border-bottom: #004b71 solid 2.5px;
    min-height: 45px;
    align-items: center;
    text-align: left;
}