.booking-box {
    display: flex;
    align-items: center;
    border-radius: 5px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.booking-title {
    background-color: #004b71;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 7px 0 0 7px;
    width: 200px;
    border: #004b71 solid 2px;
}

.travel-selector {
    margin-top: 5%;
}

.booking-input {
    border: none;
    flex: 1;
    outline: none;
    margin: 5px 0;
    border: #004b71 solid 2.5px;
    border-radius: 0 7px 7px 0;
}

.css-19bb58m {
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}

.css-13cymwt-control {
    border-radius: 0 4px 4px 0 !important; 
}