.travel-selector {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.selector-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.state-selector, .city-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.state-select, .city-select {
  width: 200px; /* Ajuste a largura conforme necessário */
}