@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

.my-box {
    font-family: 'Sora', sans-serif;
    border: #15648b solid;
    border-right: none;
    margin-top: 50px;
    min-height: 525px;
}

.form-box {
    display: flex;
    flex-direction: column;
}

.form-label {
    padding: 35px;
    text-align: center;
    font-weight: 650;
    font-size: large;
    border-bottom: #15648b solid;
}

.form-items {
    background-color: #eafaff;
    padding: 15px;
}

.css-rizt0-MuiTypography-root {

    font-family: "Sora", sans-serif!important;

}

.css-nwsdb5-MuiFormLabel-root {
    
    font-family: "Sora", sans-serif!important; 
    font-weight: 700!important;
}

.border {
    border: #15648b solid;
}

.form-button {
    color: white; /* Cor do texto do botão */
    background-color: #15648b; /* Cor de fundo do botão */
    border: none; /* Remover borda */
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    display: flex; /* Para alinhar o ícone e o texto */
    align-items: center; /* Para alinhar o ícone e o texto */
    text-transform: none; /* Remover transformação de texto */
    font-family: inherit; /* Herdar a fonte do pai */
    font-size: inherit; /* Herdar o tamanho da fonte do pai */
    box-shadow: none; /* Remover sombra */
}

.form-button:hover {
    background-color: #104a6b; /* Cor de fundo ao passar o mouse */
}
