@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

.my-box {
    font-family: 'Sora', sans-serif;
    border: #15648b solid;
    border-right: none;
    margin-top: 50px;
    min-height: 550px;
    justify-content: space-between;
}

.form-box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.form-label {
    padding: 35px;
    text-align: center;
    font-weight: 650;
    font-size: large;
    border-bottom: #15648b solid;
}

.form-items {
    background-color: #eafaff;
    padding: 15px;
    min-height: 400px;
}

.css-rizt0-MuiTypography-root {

    font-family: "Sora", sans-serif!important;

}

.css-nwsdb5-MuiFormLabel-root {
    
    font-family: "Sora", sans-serif!important; 
    font-weight: 700!important;
}

.border {
    border: #15648b solid;
}

.form-button {
    align-self: center;
    color: white; /* Cor do texto do botão */
    background-color: #15648b; /* Cor de fundo do botão */
    border: none; /* Remover borda */
    margin: 10px 0;
    width: 140px;
    padding: 8px 20px; /* Espaçamento interno */
    border-radius: 50px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    display: flex; /* Para alinhar o ícone e o texto */
    align-items: center; /* Para alinhar o ícone e o texto */
    font-size: inherit; /* Herdar o tamanho da fonte do pai */
    justify-content: space-between;
}

.form-button:hover {
    background-color: #000000; /* Cor de fundo ao passar o mouse */
}
